<ion-header no-border>
    <ion-toolbar color="facebook">
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">

    <div class="container">
        <ion-avatar class="mx-auto my-5 border border-primary avatar-size animated fadeIn fast">
            <img src="../../../assets/img/natalya-LxXgeHxjMQg-unsplash.jpg">
        </ion-avatar>
        <h1 class="text-center animated fadeIn cls">Realiza tu Pedido Aquí !</h1>
      
        <ion-button size="large" slot="icon-only" class="custom-btn animated bounceIn " color="facebook" (click)="iniciar()">
            Iniciar <br><ion-icon  name="finger-print"></ion-icon>
        </ion-button> 
        <ion-list *ngFor="let data of dataJson">
         <ion-item>
           <ion-label>{{data.name}}</ion-label>
         </ion-item>
        </ion-list>
               
        
      </div>

      

    <!-- <ion-grid class="" fixed>
      <ion-row>
        <ion-col class="color1" size="6">
            <ion-avatar class="mx-auto my-5 border border-primary avatar-size">
                <img src="../../../assets/img/no-image.png">
            </ion-avatar>
        </ion-col>

        <ion-col class="color2 " size="6">
          <h1 class="text-center py-5">Realiza tu Pedido Aquí</h1>
        </ion-col>

      </ion-row>
    </ion-grid>
    
    <ion-button class="custom-btn" color="facebook" (click)="volverInicio()">
        Inicia tu Pedido   <br><ion-icon  name="finger-print"></ion-icon>
    </ion-button> 
           -->


</ion-content>
<img class="custom-logo animated fadeIn "  src="../../../assets/img/gamasoft.png" >
<app-footer ></app-footer>