.color1{
    background-color: #ffffff;
}


.custom-m{
    margin-left: 275px;
}
.custom-m1{
    margin-left: 260px;
    margin-top:5px;
}
.h-100{
height: 100px;
}

.w-100{
  width: 300px;
}
.a1{
    height: 700px;;
}

.d-block{
    width: 550px;
    height: 400px;
}

.box-shadow{
    box-shadow: 5px 5px 5px 5px #00000063;
}


.footer{
  margin-top: 25px;
  line-height: 11px;
  text-align: center;
}
.form-control{
    border-color:  #4f6aa2;
}

h2{
    color: #535154;
    //margin-left: 15px;
    margin: auto
}