.espacio{
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase; 
   
}

.padd{
    padding-top: 0.3px;
    padding-bottom: 0.3px;
}


.borde-bottom{
    border-bottom: 1px solid  #3b5998;
}

  