.back-buttom{
 position: absolute;
 left: 0;
 top: 50%;
 margin-left: 20px;

}

.custom-btn{
    position: absolute;
    width: 20%;
    top: 80%;
    left: 40%;
 
}

ion-thumbnail{
    height: 75px;
    width: 80px;
}



.despues2{
     position: absolute;
     bottom: 2px;
     right: 333px; 
}




