<app-header titulo={{this.nomGru}} contadorCart={{DataCarrito.length}} total={{total}}></app-header>

<ion-content  class="animated fadeIn" padding>

  <ion-label class="animated fadeIn" color="facebook">
    <h1 text-capitalize class="ion-text-center mt-5">{{this.nomGru}}<ion-badge color="facebook" class="ml-3 " mode="ios"
        slot="end">{{contadorPrincipal}}</ion-badge>
    </h1>
  </ion-label>

  <a  (click)="redireccionHome()"  role="button">
    <ion-icon color="dark" class="back-buttom" size="large" mode="ios" name="arrow-back"></ion-icon>
  </a>
 
  <div class="container ">

    <ion-grid class="mt-3" fixed>
      <ion-row>
        <ion-col class="animated lightSpeedIn" size="6" *ngFor="let item of listaArticulos; let i = index">
          <ion-list class=ion-activatable  #lista inset="true" mode="ios" >
            <ion-item-sliding>
              <ion-item >
                <ion-thumbnail slot="start">
                  <img  (click)="openModal(item)" src="../../../assets/img/no-image.png">
                </ion-thumbnail>
                <ion-badge color="facebook" mode="ios" slot="end" [(ngModel)]="item.contadorArt" name="contadorArt" ngDefaultControl  > {{item.contadorArt}}</ion-badge>
                <ion-icon  *ngIf="item.contadorArt >= 1" slot="end" mode="md" name="arrow-dropleft"></ion-icon>
                <ion-label *ngIf="item.seleccion" [routerLink]="['/gruposventaseleccion',idGru,nomGru]" (click)="incrementarContador(item, i)">
                  <h3>{{item.nombreArticulo}} </h3>
                  <p>$ {{item.costoEstimado}}</p>
                  <p>{{item.descripcion}}</p>
                </ion-label>
                <ion-label *ngIf="!item.seleccion" (click)="incrementarContador(item, i)">
                  <h3>{{item.nombreArticulo}} </h3>
                  <p>$ {{item.costoEstimado}}</p>
                  <p>{{item.descripcion}}</p>
                </ion-label>
                <ion-ripple-effect type="unbounded" ></ion-ripple-effect>
              </ion-item>
              
              <ion-item-options side="end" >
                <ion-item-option  *ngIf="item.contadorArt >= 1" (click)="borrar(item.idArticulo, i)" color="danger">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-item-option>
              </ion-item-options>

            </ion-item-sliding>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-button (click)="redireccionHome()" color="facebook animated bounceIn" class="custom-btn" size="small">Seguir Comprando</ion-button>
<app-footer></app-footer>