
.color1{
    background-color: #d7d7d7;
 
}

.avatar{
    /*  margin-left: 35%; */
     margin-top: 10px;
     margin-bottom: 20px;
     width: 100px;
     height: 100px;
 }

 .flex-container{
     display: flex;
     align-content: space-between;
 }

 .size{
     width: 20px;
     height: 20px;
 }
 
 .marg{
     margin-right: 27%;
     position: static;
 }

 .margi{
    margin-right: 29%;
    position: static;
 }


ion-chip{
    background-color: #3b5998;
    border-color: #3b5998;
 }

 .texto{
    font-size: 14px;
}

.borde{
    border: 1px solid  #3b5998;  
}




 //media Querys

 @media (max-width: 768px){

     .custom{
      position: fixed;
      bottom: 52%;
      left: 18%;
     }
     .custom-1{
      position: fixed;
      bottom: 52%;
      left: 40%;
      
    }
     .custom-2{
      position: fixed;
      bottom: 52%;
      right: 20%;
     }
     
 }
 @media (min-width: 1024px){
 .custom{
    position: fixed;
    bottom: 56%;
    left: 31%;
   }
   .custom-1{
    position: fixed;
    bottom: 56%;
    left: 45%;
    
  }
   .custom-2{
    position: fixed;
    bottom: 56%;
    right: 31%;
   }
}