.color1{
    background-color: #e7e7e7;
 

}

.color2{
    background-color: blue;
    
    
}

.avatar{
   /*  margin-left: 35%; */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.chip-box{
    margin-left: 30%;
}

.ion-flex{
    display: flex;
}

ion-chip{
    background-color: #3b5998;
    border-color: #3b5998;
  }

.texto{
    font-size: 14px;
}

.borde{
    border: 1px solid  #3b5998;
    
}

.borde-bottom{
    border-bottom: 1px solid  #3b5998;
}

.custom-label{
    margin-left:10px; 
}

#badge{
  margin-left: 200px;
}


 